.mac {
  width: 100%;
  height: 100%;
}

.mac .top {
  width: 100%;
  height: 200px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.mac .top img {
  width: 100px;
  height: 140;
}

.mac .flist .search {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.mac .flist .search input {
  width: 170px;
  height: 30px;
  margin-right: 10px;
  padding-left: 10px;
}

.mac .flist .search input:focus {
  border-color: #bfd9ef;
}

.mac .flist .search button {
  width: 70px;
  height: 30px;
  background-color: #63a4a6;
  border-radius: 10px;
  color: white;
  border: 1px solid #447375;
}

.mac .flist .list {
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
  padding-left: 38px;
}

.mac .flist .list .card {
  padding: 20px;
  width: 400px;
  height: auto;
  border-radius: 10px;
  border: 0.5px solid rgba(191, 164, 128, 0.5);
  background-color: white;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #706d6d;
  gap: 18px;
}

.mac .flist .list .card .first {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mac .flist .list .card .first button:hover {
  background-color: #e08181;
}

.mac .flist .list .card .role {
  color: #464545;
}

.mac .flist .list .card .img {
  width: 50px;
  height: 50px;
  background-color: lavender;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  margin-right: 10px;
  color: #646262;
}

.mac .flist .list .card button {
  width: 70px;
  height: 30px;
  background-color: white;
  border: 1px solid #c1bdbd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.mac .flist .list .card button:hover {
  background-color: palegoldenrod;
  color: white;
  cursor: pointer;
}

.mac .flist .list .card .activeBut {
  background-color: rgba(155, 215, 155, 0.5);
  color: grey;
}

.mac .flist .list .card .activeBut:hover {
  background-color: palegoldenrod;
}

.mac .flist .list .card .status {
  color: black;
  background-color: #daeaf7;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #706d6d;
}

.mac .flist .list .card .active {
  color: black;
  background-color: #cdf1cd;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #706d6d;
}

.mac .flist .list .card .disabled {
  color: black;
  background-color: #e5a2a2;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: white;
}

.mac .flist .list .cardView {
  order: -1;
  margin: 0 auto;
  grid-column: 1 / -1;
  position: relative;
  padding: 20px;
  margin-bottom: 10px;
  width: 900px;
  height: auto;
  border-radius: 10px;
  border: 0.5px solid rgba(191, 164, 128, 0.5);
  background-color: white;
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  color: #706d6d;
  gap: 15px;
}

.mac .flist .list .cardView .first {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mac .flist .list .cardView .date {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mac .flist .list .cardView .role {
  color: #464545;
}

.mac .flist .list .cardView .img {
  width: 50px;
  height: 50px;
  background-color: lavender;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  margin-right: 10px;
  color: #646262;
}

.mac .flist .list .cardView button {
  width: 70px;
  height: 30px;
  background-color: white;
  border: 1px solid #c1bdbd;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 12px;
}

.mac .flist .list .cardView button:hover {
  background-color: palegoldenrod;
  color: white;
  cursor: pointer;
}

.mac .flist .list .cardView .activeBut {
  background-color: rgba(155, 215, 155, 0.5);
  color: grey;
}

.mac .flist .list .cardView .activeBut:hover {
  background-color: palegoldenrod;
}

.mac .flist .list .cardView .status {
  color: black;
  background-color: #daeaf7;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #706d6d;
}

.mac .flist .list .cardView .active {
  color: black;
  background-color: #cdf1cd;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: #706d6d;
}

.mac .flist .list .cardView .closeView {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 20px;
  color: #706d6d;
}

.mac .flist .list .cardView .closeView:hover {
  cursor: pointer;
  color: #464545;
}

.mac .flist .list .cardView .disabled {
  color: black;
  background-color: #e5a2a2;
  border-radius: 20px;
  margin-left: 10px;
  display: inline-block;
  width: 70px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  color: white;
}
