.dp {
  width: 100%;
  height: 100%;
}

.dp li span {
  margin-right: 40px;
}

.dp li span:hover {
  cursor: pointer;
  color: green;
}

.body {
  width: 100%;
  height: 100%;
  background-color: white;
}

.body .p {
  width: 100%;
  height: 100%;
}

.body .p .head {
  text-align: center;
  font-size: 24px;
  line-height: 50px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: #786c6c;
}

.body .p .b {
  width: 100%;
  height: 100%;
  background-color: white;
}

.body .p .b input {
  background-color: #d9d9d9;
  width: 700px;
  height: 40px;
  margin: 10px 0;
  margin-left: 90px;
  border: 1px solid;
}

.body .p .b .w {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.body .p .b .w div {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  margin: 0 20px;
}
